<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			<!--O nome do serviço deve ser composto pelo namespace e a classe que implementa os serviços
			estabelecidos em contrato. Esta convenção de nomenclatura que permite designar a qual serviço
			estas configurações se aplicam-->
			<service name="MySelfHostServiceConsoleApplication.CustomerService"
					 behaviorConfiguration="wsdlConfiguration">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7874"/>
						<add baseAddress="net.tcp://localhost:7874"/>
					</baseAddresses>
				</host>
				<endpoint
					address="customerAdress"
				    binding="basicHttpBinding"
					contract="MySelfHostServiceConsoleApplication.ICustomer"/>
				<endpoint
						address="customerAdress"
						binding="netTecpBinding"
						contract="MySelfHostServiceConsoleApplication.ICustomer"/>
				<endpoint
					address="mex"
					binding="mexHttpBinding"
					contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="wsdlConfiguration">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>